{% load static %}
<footer class="footer">

    <div class="footer-top">

        <div class="footer-box">

            <h3>Cfood</h3>

            <p>
                فروشگاه آنلاین فست‌فود و محصولات گوشتی
                با کیفیت بالا و ارسال سریع.
            </p>

        </div>

        <div class="footer-box">

            <h3>دسترسی سریع</h3>

            <a href="#">خانه</a>
            <a href="#">فست فود</a>
            <a href="#">محصولات</a>
            <a href="#">وبلاگ</a>

        </div>

        <div class="footer-box">

            <h3>شبکه‌های اجتماعی</h3>

            <div class="socials">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-telegram"></i>
                <i class="fab fa-whatsapp"></i>
            </div>

        </div>

    </div>

    <div class="footer-bottom">
        تمامی حقوق برای Cfood محفوظ است.
    </div>

</footer>
