{% extends 'base.html' %}
{% load static %}


{% block title %}
Cfood
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
{% endblock %}



{% block content %}
<section class="hero">

    <div class="hero-right">

        <span class="hero-mini-title">
            فروشگاه آنلاین فست فود و محصولات گوشتی
        </span>

        <h1>
            طعم خوب،
            <br>
            انتخاب هوشمندانه
        </h1>

        <p>
            سفارش آنلاین انواع فست‌فود، سوسیس، ژامبون و محصولات پروتئینی
            با کیفیت بالا و ارسال سریع.
        </p>

        <div class="hero-buttons">

            <a href="#" class="primary-btn">
                مشاهده فست فود
            </a>

            <a href="#" class="secondary-btn">
                مشاهده محصولات
            </a>

        </div>

    </div>

    <div class="hero-left">
        <img src="{% static 'Images/burger.png' %}" alt="">
    </div>

</section>

<section class="features">

    <div class="feature-box">
        <i class="fas fa-truck"></i>

        <div>
            <h3>ارسال سریع</h3>
            <p>تحویل در کمترین زمان</p>
        </div>
    </div>

    <div class="feature-box">
        <i class="fas fa-shield-alt"></i>

        <div>
            <h3>ضمانت کیفیت</h3>
            <p>کیفیت تضمینی محصولات</p>
        </div>
    </div>

    <div class="feature-box">
        <i class="fas fa-lock"></i>

        <div>
            <h3>پرداخت امن</h3>
            <p>درگاه امن بانکی</p>
        </div>
    </div>

    <div class="feature-box">
        <i class="fas fa-headset"></i>

        <div>
            <h3>پشتیبانی</h3>
            <p>پشتیبانی ۲۴ ساعته</p>
        </div>
    </div>

</section>

<section class="about" id="about">

    <div class="section-title">
    <span>چرا Cfood؟</span>
    </div>

    <div class="about-container">

        <div class="about-image">
            <img src="{% static 'Images/pizza.png' %}" alt="">
        </div>

        <div class="about-content">

            <h3>
                فروشگاهی تخصصی برای عاشقان فست‌فود
            </h3>

            <p>
                Cfood یک فروشگاه آنلاین مدرن برای سفارش انواع فست‌فود،
                محصولات پروتئینی، سوسیس، ژامبون و فرآورده‌های گوشتی است.
            </p>

            <p>
                هدف ما ارائه محصولات باکیفیت، تازه و خوشمزه
                با سریع‌ترین زمان ارسال است.
            </p>

            <a href="#" class="primary-btn">
                مشاهده محصولات
            </a>

        </div>

    </div>

</section>

<section class="blogs" id="blogs">

    <div class="section-title">
        <span>وبلاگ</span>
        <h2>آخرین مقالات</h2>
    </div>

    <div class="blog-container">

        <div class="blog-card">

            <img src="{% static 'Images/IMG_20260512_182540_225.jpg' %}" alt="">

            <div class="blog-content">

                <span>۱۴۰۵/۰۲/۲۲</span>

                <h3>
                    بهترین ترکیب‌ها برای برگر حرفه‌ای
                </h3>

                <p>
                    چند ترکیب جذاب برای تهیه برگر حرفه‌ای در خانه.
                </p>

                <a href="#">
                    مطالعه بیشتر
                </a>

            </div>

        </div>

        <div class="blog-card">

            <img src="{% static 'Images/susis.jpg' %}" alt="">

            <div class="blog-content">

                <span>۱۴۰۵/۰۲/۲۰</span>

                <h3>
                    چگونه سوسیس باکیفیت انتخاب کنیم؟
                </h3>

                <p>
                    نکاتی مهم برای خرید محصولات پروتئینی سالم.
                </p>

                <a href="#">
                    مطالعه بیشتر
                </a>

            </div>

        </div>

        <div class="blog-card">

            <img src="{% static 'Images/IMG_20260512_182550_052.jpg' %}" alt="">

            <div class="blog-content">

                <span>۱۴۰۵/۰۲/۱۸</span>

                <h3>
                    راز خوشمزگی فست‌فود حرفه‌ای
                </h3>

                <p>
                    چند نکته برای خوشمزه‌تر شدن غذاهای فست‌فودی.
                </p>

                <a href="#">
                    مطالعه بیشتر
                </a>

            </div>

        </div>

    </div>

</section>

<section class="contact" id="contact">

    <div class="section-title">
        <span>تماس با ما</span>
        <h2>ارتباط با Cfood</h2>
    </div>

    <div class="contact-container">

        <div class="contact-box">
            <i class="fas fa-phone"></i>
            <h3>شماره تماس</h3>
            <p>09123456789</p>
        </div>

        <div class="contact-box">
            <i class="fas fa-envelope"></i>
            <h3>ایمیل</h3>
            <p>info@cfood.ir</p>
        </div>

        <div class="contact-box">
            <i class="fas fa-location-dot"></i>
            <h3>آدرس</h3>
            <p>تهران، ایران</p>
        </div>

    </div>

</section>

{% endblock %}

